.header{
    background-color: #FFFBF0;
}
main{
    background-color: white;
}
.nav-color{
    background-color:#FFFBF0 !important;
}
.header .logo{
    width: 300px;
}
.header-img img{
    width: 100%;
}
.women img{
    margin: 0 auto;
}
.card-body-color{
    background-color: white;
}
.card-img{
    background-color: #F1F1F1;
    padding: 10px 90px;
    border-radius: 10px;
    border: none;
}
.card-footer{
    background-color: white;
    border: none;
}
.card-img-first{
    width: 210px;
}
.card-img-second{
    width: 155px;
}
.card-img-third{
    width: 170px;
}
.card-img-fourth{
    width: 170px;
}
.card-img-fith{
    width: 210px;
}
.card-img-sixth{
    width: 150px;
}
.last{
    margin-top: 100px !important;
}
.last img{
    width: 400px;
    margin-left: 30px;
}
.icon img{
    width: 50px;
}
button{
    background-color: #8EA927 !important;
    color: white !important;
    border: none !important;
}
h1{
    color: #363958;
    text-transform: uppercase;
}
h5{
    color: #363958;
}
h3{
    color: #FABE4C;
}
.subscribe{
    height: 250px;
    background-color:rgba(255, 160, 122, 0.425);
    border-radius: 10px;
}
@media ( max-width:688px){
    .header-img img{
        width: 80%;
    }
    .display{
        display: block !important;
        text-align: center !important;
    }
    .card-img-fourth{
        width: 170px;
    }
    .card-img{
        padding: 10px 100px !important;
    }
    .last-img{
        width: 300px !important;
        margin-left: 0px !important;
    }
}
@media (max-width:992px){
    .card-img{
        padding: 10px;
    }
    .last-img{
        width: 350px !important;
        margin-left: 0px !important;
    }
}